@model IEnumerable<AppWeb.Models.EstoqueViewModel>
@{
    ViewData["Title"] = "Estoque";
}

    <h2 style="margin-bottom: 20px;text-align: center;">Estoque  <a type ="button"  href="~/Estoque/Inserir"><img src="~/Gif/mais.png" style="width: 25px; margin-left: 950px; "></a></h2>

    <hr />

    <table class="table table-bordered">
        <thead>
            <tr class="cabeca-tabela">
                <th scope="col">Id Produto</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Quantidade disponível</th>
                <th scope="col">Valor Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="linha-tabela">
                    <td>@item.IdProduto</td>
                    <td>@item.nome_produto</td>
                    <td>@item.valor_unitario</td>
                    <td>@item.quantidade</td>
                    <td>@item.ValorTotal</td>
                </tr>
            }
        </tbody>



