@model IEnumerable<AppWeb.Models.ClienteViewModel>
@{
    ViewData["Title"] = "Listar Clientes";
}

<h2 style="margin-bottom: 20px;text-align: center;">Clientes <a type ="button" href="~/Cliente/Inserir"><img src="~/Gif/mais.png" style="width: 25px; margin-left: 950px; "></a></h2>

<table class="table table-bordered">
    <thead>
        <tr class="cabeca-tabela">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Telefone</th>
            <th scope="col">CEP</th>
            <th scope="col">Número casa</th>
            <th scope="col">Cliente desde</th>
            <th scope="col">Editar | Deletar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="linha-tabela">
            <td>@item.IdCliente</td>
            <td>@item.Nome</td>
            <td>@item.Cpf</td>
            <td>@item.dtNasc.ToString("dd/MM/yyyy")</td>
            <td>@item.Telefone</td>
            <td>@item.CEP</td>
            <td>@item.numCasa</td>
            <td>@item.dtCadastro.ToString("dd/MM/yyyy")</td>

            <td>
                <a href="~/Cliente/Editar/@item.IdCliente" class="icones"> <img src="~/Gif/editar.png" style="width: 20px"> </a> | <a href="~/Cliente/Deletar/@item.IdCliente" class="icones"> <img src="~/Gif/bin.png" style="width: 20px">  </a>
            </td>
        </tr>
        }
    </tbody>
</table>

